# Exclude IDE generated folders.
/.vscode/
/.vs/
/.idea/

# Exclude files backups.
*.kate-swp
*~

# Exclude CMake Genetarion and build directories.
/cmake-build-debug/
/cmake-build-release/
/build/
/out/
/installed/
/dist/